<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thumbnai 2</title>
  </head>
  <body>
    <a href="/home">Return to homepage</a><br><br><br><br><br>
    <img src="/images/2.png" width="950px"></img>

  </body>
</html>