<div class="container">
<a onclick="window.location.href = 'http://localhost:3000/images/1';">
    <img src="/images/1.png" width="350px">
<a onclick="window.location.href = 'http://localhost:3000/images/2';">
    <img src="/images/2.png" width="350px">    
<a onclick="window.location.href = 'http://localhost:3000/images/3';">
    <img src="/images/3.png" width="350px">  
</div>